<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	
	<!-- <link rel="stylesheet" href="dashboard.css"> -->
	<title>Fx Site</title>
	<style>
        /* Add CSS styles to control text wrapping */
        .chat-container {
            white-space: pre-wrap; /* This allows text to wrap without breaking words */
        }
        .message-content {
            display: inline; /* Ensure content is displayed inline */
        }
    </style>
</head>
<body>
			<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul>
			
			<div class="data">
				<div class="content-data">
					<div class="head">
						<h3>Report Generator</h3>
						<!-- <div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div> -->
					</div>
					<mat-form-field class="example-full-width" appearance="outline">
						<mat-label>Generate Report</mat-label>
						<textarea matInput placeholder="Generate Your Report" [(ngModel)]="generateReport"></textarea>
					  </mat-form-field>
	
					  <!-- <input #Image type="file" (change)="handleFileInput($event.target.files)"/>
					  <img width="100%" *ngIf="imageUrl" [src]="imageUrl" class="image"> -->
					  <br>
					  <br>
					  <div>
						{{ imageError }}
						<button mat-raised-button color="warn" class="btn btn-warning" type="button" (click)="filePicker.click()">
							
						  Pick Image
						</button>
						<input class="inp" type="file" #filePicker (change)="onImagePicked($event)" />
					  </div>
					  
					  <!-- <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview"> -->
					  <div class="image-preview" *ngFor="let img of base64ImgArray; let i = index">
						<img [src]="img" />                        
						<!-- width="300" height="234"  -->
						<button
						  *ngIf="base64ImgArray.length > 0"
						  (click)="removeImage(i)"
						  class="btn btn-danger btn-sm"
						  style="border-radius:50%"
						>
						  X
						</button>
						<br />
					  </div>
					  	<br>
						<br>
						<br>
						
						<div class="head" >
							<mat-form-field class="example-full-width">
								<mat-label>Guest Name</mat-label>
								<input matInput [(ngModel)]="guestName">
							</mat-form-field>
				
							  <mat-form-field class="example-full-width">
								<mat-label>Guest Designation
								</mat-label>
								<input matInput [(ngModel)]="guest_designation">
							</mat-form-field>

						</div>

						<div class="head" >
							<mat-form-field appearance="outline" class="example-full-width">
								<mat-label>Event Date</mat-label>
								<input matInput [matDatepicker]="start" (dateInput)="EventDate($event)" [max]="getFormattedDate(today)" />
								<mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
								<mat-datepicker #start></mat-datepicker>
							  </mat-form-field>

							<mat-form-field class="example-full-width">
								<mat-label>Activity Code</mat-label>
								<input matInput [(ngModel)]="activityCode">
							</mat-form-field>
				
						</div>

						<div class="head" >
							<mat-form-field class="example-full-width">
								<mat-label>Year</mat-label>
								<input matInput [(ngModel)]="year">
							</mat-form-field>

							<mat-form-field class="example-full-width">
								<mat-label>No Of Count</mat-label>
								<input matInput [(ngModel)]="StudCount">
							</mat-form-field>
				
						</div>

						<div class="head" >
							<mat-form-field class="example-full-width">
								<mat-label>Organizer Dept
								</mat-label>
								<input matInput [(ngModel)]="Organizer_dept">
							</mat-form-field>

							<mat-form-field class="example-full-width">
								<mat-label>Organizer Faculty Name
								</mat-label>
								<input matInput [(ngModel)]="Organizer_fac_name">
							</mat-form-field>

						</div>

						<div class="head" >
							<mat-form-field class="example-full-width">
								<mat-label>Topic</mat-label>
								<input matInput [(ngModel)]="Topic">
							</mat-form-field>
				
						</div>
					  <button mat-raised-button id="generatereport" (click)="generate_pdf()" color="warn" class="btn btn-warning" type="button">
						Generate Report
					  </button>

					  <br>
					  <br>
					  
					  <!-- <mat-form-field class="example-full-width">
						<mat-label>Choose File Type
						</mat-label>
						<input matInput [(ngModel)]="choose_file_type">
					 </mat-form-field> -->

						<mat-form-field class="example-full-width" appearance="outline">
						  <mat-label>Choose File Type</mat-label>
						  <input type="text"
								 placeholder="Choose File Type"
								 matInput
								 [(ngModel)]="choose_file_type"
								 [formControl]="myControl"
								 [matAutocomplete]="auto">
						  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
							<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
							  {{option}}
							</mat-option>
						  </mat-autocomplete>
						</mat-form-field>
					  
					  					  
					  <!-- <input type="text" id="title" name="title" [(ngModel)]="surname"  [ngModelOptions]="{standalone: true}" required> -->

					  <br>
					  <input type="file" id="file" name="file" (change)="onFileChange($event)" required>


                </div>

<div class="content-data">

	<!-- chat box -->
		       <div class="chat-box">
						<p class="day"><span>Today</span></p>
				</div>
				<div #chatContainer class="chat-container">
					<div class="message" *ngFor="let msg of messages">
					  <div *ngIf="msg.sender === 'user'" class="message-wrapper user">
						<div class="message-content">{{ msg.content }}</div>
					  </div>
					  <div *ngIf="msg.sender === 'bot'" class="message-wrapper bot">
						<div class="message-content" [innerHTML]="msg.content"></div>
					</div>
					</div>
				  </div>
				  
					<!-- <form action="#"> -->
						<div class="form-group">
                            <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" [ngModelOptions]="{standalone: true}" />
                            <!-- <button  type="submit" (click)="sendMessage()" class="btn-send"><i class='bx bxs-send' ></i></button> -->
                            <div class="example-button-container">
                                <button mat-fab color="primary" (click)="sendMessage()" aria-label="Example icon button with a delete icon">
                                  <!-- <mat-icon>send</mat-icon> -->
								  <i class='bx bxs-send' ></i>
								  <!-- <i class="fa-regular fa-trash"></i> -->
                                </button>
                              </div>
						</div>
					<!-- </form> -->

                    <!-- <div class="box">
                        <div class="input-container">
                          <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" />
                          <div class="example-button-container">
                            <button mat-fab color="primary" (click)="sendMessage()" aria-label="Example icon button with a delete icon">
                              <mat-icon>send</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div> -->
				</div>
			</div>
		</main>

		<button mat-raised-button id="generatereport" (click)="onSubmit()" color="warn" class="btn btn-warning" type="button">
			Upload File
		  </button>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<!-- <script src="dashboard.js"></script> -->
</body>
</html>