<div>
    <h1>PDF File Upload</h1>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="title"  [ngModelOptions]="{standalone: true}"required>
      <br>
      <label for="title">Sur Name:</label>
      <input type="text" id="title" name="title" [(ngModel)]="surname"  [ngModelOptions]="{standalone: true}" required>
      <br>
      <label for="file">PDF File:</label>
      <input type="file" id="file" name="file" (change)="onFileChange($event)" required>
      <br>
      <button type="submit" (click)="onSubmit()">Upload PDF</button>
    <!-- </form> -->
  </div>
  